In [1]:
#!pip install streamlit
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
# df = pd.read_csv('sample data.csv')
#df = pd.read_csv('dgn.csv')
df = pd.read_csv('dgn_raw_data.csv')

In [4]:
#df['UID']='ID' + df['UID'].astype(str)
df.head()

   UID  A1  A2  A3  A4  B1  B2  B3  B4  C1  C2  C3  C4  D1  D2  D3  D4  Rating
0    1   1   0   0   0   0   0   0   1   1   0   0   0   0   0   0   0     100
1    1   1   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0     100
2    1   0   0   0   1   0   0   0   1   1   0   0   0   0   0   0   0       0
3    1   0   1   0   0   0   0   0   0   0   0   0   1   0   1   0   0       0
4    1   0   1   0   0   0   0   1   0   0   1   0   0   0   0   0   1       0

In [5]:
X =df.drop(['UID','Rating'], axis=1)
y= df['Rating']

In [6]:
ids = df.UID.unique()

In [7]:
colNames = df.drop(['Rating',], axis=1).columns
colNames = colNames.insert(1, 'Const')
colNames

Index(['UID', 'Const', 'A1', 'A2', 'A3', 'A4', 'B1', 'B2', 'B3', 'B4', 'C1',
       'C2', 'C3', 'C4', 'D1', 'D2', 'D3', 'D4'],
      dtype='object')

In [16]:
op = pd.DataFrame
intercept = []
coefficients=[]
UID = []
for i in ids:
    df_i = df[df.UID == i]                  # Create dataframe for current user id
    print(df_i)
    break
    X =df_i.drop(['UID','Rating'], axis=1)  # Create dataframe of input variables only
    y= df_i['Rating']                       # Series of target variable
    reg = LinearRegression().fit(X, y)      # Fit linear regression
    reg.score(X, y)                         # Score regression model
    unique_id=df_i['UID'].unique()          # Saves current user id
    const = reg.intercept_                  # Save intercept of the regression model
    coef = reg.coef_                        # Coefficients of current regression model
    UID.append(unique_id)                   # Append current user id
    intercept.append(const)                 # Append current intercept
    coefficients.append(coef)               # Append current regression coefficients

intercep_new = pd.DataFrame(intercept)
coefficients_new = pd.DataFrame(coefficients)
UID_new = pd.DataFrame(UID)

print(UID_new.head())
print(intercep_new.head())
print(coefficients_new.head())

    UID  A1  A2  A3  A4  B1  B2  B3  B4  C1  C2  C3  C4  D1  D2  D3  D4  \
0     1   1   0   0   0   0   0   0   1   1   0   0   0   0   0   0   0
1     1   1   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0
2     1   0   0   0   1   0   0   0   1   1   0   0   0   0   0   0   0
3     1   0   1   0   0   0   0   0   0   0   0   0   1   0   1   0   0
4     1   0   1   0   0   0   0   1   0   0   1   0   0   0   0   0   1
5     1   0   0   1   0   0   1   0   0   0   1   0   0   0   0   1   0
6     1   0   0   0   1   0   0   1   0   0   0   0   1   0   0   1   0
7     1   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   1
8     1   0   1   0   0   1   0   0   0   0   0   1   0   0   0   1   0
9     1   0   0   1   0   0   0   1   0   1   0   0   0   0   0   1   0
10    1   0   0   0   0   0   1   0   0   0   0   1   0   0   1   0   0
11    1   0   0   0   0   0   0   1   0   0   1   0   0   0   1   0   0
12    1   0   1   0   0   0   0   0   1   0   0   0   0   0   0   0   1
13    1   1   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1
14    1   0   0   0   1   0   0   0   0   0   1   0   0   1   0   0   0
15    1   0   0   0   1   0   1   0   0   0   0   1   0   0   1   0   0
16    1   1   0   0   0   0   0   0   1   0   0   0   1   0   0   1   0
17    1   1   0   0   0   1   0   0   0   0   0   1   0   0   0   0   1
18    1   0   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0
19    1   0   0   1   0   1   0   0   0   0   0   0   1   0   1   0   0
20    1   0   1   0   0   0   1   0   0   0   0   0   1   1   0   0   0
21    1   0   0   0   0   0   1   0   0   1   0   0   0   0   0   0   0
22    1   0   0   0   0   0   0   0   1   0   1   0   0   1   0   0   0
23    1   0   0   0   0   0   0   0   1   0   1   0   0   1   0   0   0

    Rating
0      100
1      100
2        0
3        0
4        0
5      100
6      100
7      100
8      100
9      100
10       0
11     100
12     100
13     100
14     100
15     100
16       0
17     100
18     100
19     100
20       0
21     100
22       0
23     100
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []

In [15]:
op = pd.concat([UID_new,intercep_new, coefficients_new], axis=1)
op.columns = colNames
op.head()

,UID,Const,A1,A2,A3,A4,B1,B2,B3,B4,C1,C2,C3,C4,D1,D2,D3,D4
0,1,65.556645,21.751719,-12.870439,0.538566,14.688715,44.408157,4.669408,-2.318099,-21.845362,-1.530807,-22.509295,-57.124940,-74.990573,26.500931,41.034276,51.223967,11.255538
1,2,-59.461520,86.040065,90.018151,74.390650,66.397018,1.826327,-33.026083,3.179253,-15.475305,-7.107821,19.450057,-44.596714,-10.818947,89.524245,83.429340,48.008775,93.441147
2,3,91.634944,67.703461,64.170410,15.395609,18.860292,-4.501776,4.677385,-57.286735,-20.365863,27.850990,-50.189409,-59.491439,-38.874378,6.687718,-59.897256,-52.237232,-31.524770
3,4,168.803142,-3.414500,-7.568069,-37.699576,-8.989053,-13.425439,-79.309198,-37.853816,-46.698734,-72.715112,-25.546335,-93.735298,-90.750210,-20.307047,1.256907,-15.608373,-32.250554
4,5,105.170861,-11.427239,-77.015028,-54.392327,-72.349095,21.059308,73.217009,19.827533,18.753450,5.367153,-83.649506,-32.425046,-1.291150,-27.986026,-42.094288,4.237733,-19.124999

<b>Add random small number to Rating</b>

In [17]:
import random
df['noise']=df['Rating'].apply(lambda x: x+random.random()/1000)

<b>Scenario Analysis</b>

In [18]:
df.head()

,UID,A1,A2,A3,A4,B1,B2,B3,B4,C1,C2,C3,C4,D1,D2,D3,D4,Rating,noise
0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,100,100.000893
1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,100,100.000783
2,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0.000293
3,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0.000701
4,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0.000574

In [19]:
# np.where(condition, value if condition is true, value if condition is false)

# create a list of the column categories

cat_A = ['A1', 'A2', 'A3', 'A4']
cat_B = ['B1', 'B2', 'B3', 'B4']
cat_C = ['C1', 'C2', 'C3', 'C4']
cat_D = ['D1', 'D2', 'D3', 'D4']

# create a list of our conditions
cat_A_conditions = [
    (df['A1'] == 1),
    (df['A2'] == 1),
    (df['A3'] == 1),
    (df['A4'] == 1),
    (df['A1']==0) & (df['A2']==0) & (df['A3']==0) & (df['A4']==0),
    ]

cat_B_conditions = [    
    (df['B1'] == 1),
    (df['B2'] == 1),
    (df['B3'] == 1),
    (df['B4'] == 1),
    (df['B1']==0) & (df['B2']==0) & (df['B3']==0) & (df['B4']==0),
    ]    

cat_C_conditions = [    
    (df['C1'] == 1),
    (df['C2'] == 1),
    (df['C3'] == 1),
    (df['C4'] == 1),
    (df['C1']==0) & (df['C2']==0) & (df['C3']==0) & (df['C4']==0),
    ]

cat_D_conditions = [    
    (df['D1'] == 1),
    (df['D2'] == 1),
    (df['D3'] == 1),
    (df['D4'] == 1),  
    (df['D1']==0) & (df['D2']==0) & (df['D3']==0) & (df['D4']==0),
    ]

# create a list of the values we want to assign for each condition
cat_A_values = ['A1', 'A2', 'A3', 'A4', 'A0']
cat_B_values = ['B1', 'B2', 'B3', 'B4','B0']
cat_C_values = ['C1', 'C2', 'C3', 'C4','C0']
cat_D_values = ['D1', 'D2', 'D3', 'D4','D0']
    
df['cat_A_scenario'] = np.select(cat_A_conditions, cat_A_values)
df['cat_B_scenario'] = np.select(cat_B_conditions, cat_B_values)
df['cat_C_scenario'] = np.select(cat_C_conditions, cat_C_values)
df['cat_D_scenario'] = np.select(cat_D_conditions, cat_D_values)

<b> Example of Scenario where Variable A1 has a 1 </b>

In [20]:
cat_A = df['cat_A_scenario'].unique()
# list of independant variables for regression
fields = df.columns[1:17]
dep_var = df['noise']

In [21]:
df_A1 = df[df['cat_A_scenario']=='A1']
df_A1

,UID,A1,A2,A3,A4,B1,B2,B3,B4,C1,...,D1,D2,D3,D4,Rating,noise,cat_A_scenario,cat_B_scenario,cat_C_scenario,cat_D_scenario
0,1,1,0,0,0,0,0,0,1,1,...,0,0,0,0,100,100.000893,A1,B4,C1,D0
1,1,1,0,0,0,0,0,1,0,0,...,1,0,0,0,100,100.000783,A1,B3,C0,D1
13,1,1,0,0,0,0,0,0,0,1,...,0,0,0,1,100,100.000825,A1,B0,C1,D4
16,1,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0.000479,A1,B4,C4,D3
17,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,100,100.000252,A1,B1,C3,D4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,100,1,0,0,0,0,0,0,1,0,...,0,0,0,1,5,5.000552,A1,B4,C0,D4
2385,100,1,0,0,0,0,0,1,0,0,...,0,0,1,0,5,5.000693,A1,B3,C2,D3
2393,100,1,0,0,0,0,0,0,1,0,...,0,1,0,0,5,5.000722,A1,B4,C4,D2
2398,100,1,0,0,0,1,0,0,0,0,...,0,0,0,0,5,5.000264,A1,B1,C4,D0
2399,100,1,0,0,0,1,0,0,0,0,...,0,0,0,0,5,5.000156,A1,B1,C4,D0

In [24]:
X =df_A1[['B1', 'B2', 'B3', 'B4','C1', 'C2', 'C3', 'C4','D1', 'D2', 'D3', 'D4']]
y= df_A1['noise']
reg = LinearRegression().fit(X, y)
reg.score(X, y)
const = reg.intercept_
coef = reg.coef_
print(const)
print(coef)

33.91035518762444
[ -3.84235504 -13.45891789  -5.98115784  -1.00151876  -5.2084735
  -0.95495595  -3.15645822  -7.2888877   -2.32297686  -3.7339574
  -5.08132817   1.23153583]

In [23]:
# scratch pad, not finished
for i in cat_A:
    df_i = df[df.cat_A_scenario == i]
    X =df_i[df_i.columns[1:17]]
    y= df_i['noise']
    reg = LinearRegression().fit(X, y)
    reg.score(X, y)
    const = reg.intercept_
    coef = reg.coef_
    intercept.append(const)
    coefficients.append(coef)
#print(UID)    
intercep_new = pd.DataFrame(intercept)
coefficients_new = pd.DataFrame(coefficients)